<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>login</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>

    <h3>登录</h3>
    <form method="post" action="/user/changepassword">
        旧密码:<input type="text" name="password"/><br/>
        新密码:<input type="text" name="newpassword_1"/><br/>
        <input type="text" name="newpassword_2"/><br/>
        <input type="submit" name="修改密码"/><br/>
    </form>
</body>
</html>
